.Navbar{
    margin-top:1rem;
    font-family:"QuickSand","Roboto", "Helvetica", "Arial", sans-serif;
}
.topNavBar{
    background-color:transparent;
}
.logo{
    width: 180px;
    height: 30px;
}


.customLink{
    border: 1px solid #F36888;
    margin: 0 .5rem;
    border-radius: .2rem;
}
.customLink:last-child{
    background-color: #F36888;
}